<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd ">

       <context:annotation-config/>
       <import resource="classpath*:/messagingContext.xml"/>
       <context:component-scan base-package="me.kordun.office.front"/>
       <!--suppress SpringModelInspection -->
       <context:property-override location="file:*.properties" ignore-unresolvable="true"/>
       <!--suppress SpringModelInspection -->
       <context:property-placeholder location="classpath*:*.properties"/>
       <camelContext xmlns="http://camel.apache.org/schema/spring" id="camel"  allowUseOriginalMessage="false">
              <package>me.kordun.office.front</package>
       </camelContext>
</beans>